@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    #login {
        width: 80vw;
        display: flex;
    }

    #image {
        width: 30%;
        height: 100%;
        border-radius: 20px 0 0 20px;
    }

    #form {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    #form > p {
        font-size: 1.2rem;
    }

    .campo {
        margin: 1rem 0;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    main {
        flex-direction: row-reverse;
    }

    #login {
        width: 990px;
        display: flex;
    }

    #image {
        width: 50%;
        height: 100%;
        border-radius: 20px 0 0 20px;
    }

    #form {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    #form > p {
        font-size: 1.2rem;
    }

    .campo {
        margin: 1rem 0;
    }
}